#table {
    text-align: right;
    border: solid black 3px;
    background-color: whitesmoke;
}
.left{
    text-align: left;
}

th {
    text-align: left;
    padding-right: 10px;
}
td {
    border: solid black 1px;

}

#entries {
    color: green;
}

#outflows {
    color: red;
}