*{
    margin: auto;
    padding: 10px;
}
.my_form form{
    display: inline-block;
    max-height: 800px;
    max-width: 800px;
    background-color: burlywood;
    border: solid 3px black;
    text-align: right;
}

.credit{
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;;
}

#button{
    display: flex;
    margin-top: 20px;
}
